*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

h1,h2,h3{font-family: 'Dosis', sans-serif}
body{background-color: rgb(36, 36, 36);}

.navbar{
  background-image: radial-gradient( rgb(108, 214, 108), rgb(1, 145, 1),rgb(26, 78, 69));
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-center a{
  text-decoration: none;
  font-size: 2rem;
  color: rgb(2, 63, 5);
  font-weight: 800;
  text-shadow: 0 0 1px white;
}

.nav-center a:hover{
  color: rgb(173, 235, 176);
  transition: 500ms;
  text-shadow: 0 0 1px green;
}

.btn{
  padding: 8px 12px;
  margin-bottom: 5px;
  text-decoration: none;
  border-radius: 0.4rem;  
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.btn-primary{
  box-shadow: 2px 2px 2px 0 green;
  background-color: rgb(81, 190, 81);
  color: white;
}

.btn-primary:hover{
  background-color: rgb(65, 153, 65);
  transition: 600ms;
}

.warning{
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 40px auto;
}

.sec{
  padding: 40px;
  background-color: rgb(54, 54, 54);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 3px 0 rgb(60, 60, 60);
  text-align: center;
  color: white;
}

.about-sec{  
  max-width: 600px;
  margin: 80px auto;  
  text-shadow: 0 0 1px black;  
}

.sec-title{font-size: 3rem; margin-bottom: 1.5rem;}

.about-sec p{
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.5rem;
}

.error{margin: 10rem auto; max-width: 400px;}

.search{
  max-width: 600px;
  margin: 20px auto;
}

.form-control{width: 100%;}

.form-control label{
  font-size: 2rem; 
  padding-right: 8px;
  display: block;
  margin-bottom: 10px;
}
.form-control input{
  width: 350px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgb(1, 145, 1);
  outline: none;
  padding-left: 8px;
  background-color: rgb(223, 248, 225);
  font-size: 1.4rem;
  color: rgb(32, 32, 32);
}

.form-control input:focus{
  border: 3px solid rgb(0, 199, 0);
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cocktail{
  margin: 10px;
  width: 250px;
  background-color: rgb(80, 80, 80);
  display: inline-block;
  box-shadow: 4px 5px 5px 0 rgb(32, 32, 32);
  border: 2px ridge rgb(0, 199, 0);
  border-radius: 4px;
}

.img-container img{
  width: 246px;
  border-bottom: 2px ridge rgb(0, 199, 0);
}

.cocktail-footer{padding-bottom: 5px;}
.cocktail-footer h2{color: greenyellow;}
.cocktail-footer h3{font-weight: 200; margin-top: 5px;}

.cocktail-footer p{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
}

.cocktail-info{max-width: 800px; margin: 30px auto;}

.image-info{
  width: 400px; 
  border: 2px ridge rgb(0, 199, 0);
}

.drink-info{
  width: 400px;
  margin: 2rem auto;
  text-align: left;
  font-size: 1.4rem;
}

.drink-info p{
  margin-bottom: 20px;
}

.drink-data{
  padding: 4px 6px;
  background-color: rgb(141, 212, 34);
  border-radius: 0.4rem;
  margin-right: 10px;
  text-transform: capitalize;
}

.flex{  
  margin: 5px auto 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.items{display: block;}

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: rgb(0, 199, 0);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@media (max-width: 560px){
  .cocktail-info, .image-info, .drink-info, .sec{
    width: 90%;
  }

  .drink-info{font-size: 1.2rem;}
  .form-control input{width: 300px;}
}
